.card {
    font-family: 'Fjalla One';
    background: None;
    border: none;
    border-radius: 30px, 30px, 30px, 30px;
  }
.card-body {
    background: white;
    border: none;
  }
img{
    border-radius: 25px, 25px, 25px, 25px;
}
a, a:hover {
    color: #707070;
    border: none;
    text-decoration: none;
}
.card-img-top {
  border-radius: 25px;
}